
.wrapper-background {
  position: absolute;
  top: -100px;
  left: 0;
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
  z-index: -1;

  svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  .gradients-container {
    width: 100%;
    height: 100%;
    filter: blur(50px);
  }

  .g1 {
    width: 65%;
    height: 65%;
    background: radial-gradient(
      circle,
      rgba(0, 255, 127, 0.7),
      transparent 75%
    );
    animation: move-vertical 18s ease infinite;
  }

  .g2 {
    width: 55%;
    height: 55%;
    background: radial-gradient(
      circle,
      rgba(64, 136, 255, 0.6),
      transparent 70%
    );
    animation: move-horizontal 22s ease infinite reverse;
  }

  .g3 {
    width: 70%;
    height: 70%;
    background: radial-gradient(
      circle,
      rgba(64, 178, 255, 0.5),
      transparent 80%
    );
    animation: move-circle 28s linear infinite;
  }




}
@keyframes move-vertical {
  0%, 100% {
    transform: translate(-50%, -30%);
  }
  50% {
    transform: translate(-50%, 30%);
  }
}

@keyframes move-horizontal {
  0%, 100% {
    transform: translate(-60%, -50%);
  }
  50% {
    transform: translate(-40%, -50%);
  }
}

@keyframes move-circle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(150px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(150px) rotate(-360deg);
  }
}